
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="cabeceraform">
        <h5>Calcular Horas</h5>
      </div>
      <br>

      <div class="form">
        <form>
          <div class="mb-3">
            <label for="idTecnico" class="form-label">Mes</label>
            <input type="text" class="form-control" id="idTecnico" required>
          </div>
          <div class="mb-3">
            <label for="idServicio" class="form-label">Semana</label>
            <input type="text" class="form-control" id="idServicio" required >
          </div>
          <div class="mb-3">
            <label for="fechaI" class="form-label">Tecnico</label>
            <input type="text" class="form-control" id="fechaI" required >
          </div>


          <button type="button" class="btn btn-info">Calcular</button>
        </form>
      </div>
    </div>
    <div class="col">
      <img [src]="myImage" alt="" srcset="">
    </div>
  </div>
</div>
